@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat:500&display=swap");
body {
	background-color: hsl(0, 3%, 92%);
}
#main {
	background-color: hsl(189, 19%, 79%);
	max-width: 960px;
	min-width: 360px;
	width: auto;
	height: auto;
	font-family: montserrat, monospace;
	margin: auto auto;
	color: black;
	border: 10px;
	border-radius: 10px;
	font-size: 25px;
}
#title {
	font-family: lobster, monospace;
	font-size: 45;
	text-align: center;
	color: black;
}

#text {
	margin-left: 20px;
	margin-right: 20px;
	text-indent: 20px;
	text-align: justify;
}
#survey-form {
	display: flex;
	flex-wrap: wrap;
}
#dropdown {
	line-height: 28px;
	font-size: 25px;
}

.container-property {
	width: 50%;
}

input {
	background-color: hsl(191, 24%, 86%);
	line-height: 28px;
	font-size: 25px;
}
input[type="radiobutton"] {
	height: 40px;
}
::placeholder {
	color: rgba(59, 47, 163, 0.479);
}
#comments {
	font-size: 25px;
	width: 300px;
	height: 100px;
	margin-bottom: 20px;
}
#submit {
	background-color: rgb(104, 167, 104);
	color: aliceblue;
	width: 200px;
	height: 50px;
	margin: auto auto 20px auto;
	border-radius: 25px;
	font-size: 25px;
}
label {
	margin-right: 20px;
}
.labelconteiner {
	width: 50%;
	text-align: right;
	margin-bottom: 35px;
}
